[user]
	name = bbgallib
	email = bbgallib@gmail.com
[push]
	default = current
[pull]
	ff = only
	rebase = false
[core]
	autocrlf = input
	ignorecase = false
	quotepath = false
[color]
	ui = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
